<div class="two">
  <h1>
    @ChildContent
  </h1>
</div>

@code{
    [Parameter]
	public RenderFragment ChildContent { get;set; } = (builder) => builder.AddContent(0, "");

    [Parameter]
    public string Color { get;set; } = "#000000";
}

<style>
    .two h1 {
        position: relative;
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;
    }
    .two h1:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 2px;
        content: "";
        background-color: @Color;
    }
</style>